.product-all{
    display:inline-block;
    justify-content:center;
    align-items:center;
    margin-top:20px;
    background-color:rgb(241, 241, 241);
    border:3px solid rgb(0, 0, 0);
    border-radius:15px;
}

.product-pro{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:97vw;
}

#pro-img{
    width:100px;
    border-radius:10px;
}

#pro-audio{
    border:2px solid black;
    border-radius:15px;
    width:300px;
}

.pro-h1{
    font-size:20px;
}

#download{
    text-decoration:none;
    color:white;
    background-color:rgb(67, 61, 255);
    font-size:20px;
    width:120px;
    text-align:center;
    border:3px solid rgb(5, 238, 255);
    border-radius:15px;
}

.orga{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.orga-a{
    text-decoration:none;
    color:black;
    transition:0.5s;
}

.orga-h1{
    background-color:rgb(251, 147, 36);
    border-radius:15px;
    border:3px solid rgb(255, 0, 0);
    width:410px;
    text-align:center;
    transition:0.5s;
    font-size:30px;
}

.orga-a:hover{
    color:white;
    transition:0.5s;
}

.orga-h1:hover{
    background-color:rgb(255, 140, 0);
    border:3px solid orange;
    transition:0.5s;
}

@media (max-width:1000px){
    .product-all{
        display:flex;
        justify-content:space-around;
        align-items:center;
        border-radius:10px;
    }

    .product-pro{
        display:grid;
        justify-content:center;
        align-items:center;
    }

    .pro-h1{
        display:grid;
        justify-content:center;
        align-items:center;
    }

    #pro-img{
        margin-left:100px;
        margin-top:10px;
    }

    #download{
        font-size:23px;
        display:flex;
        justify-content:center;
        align-items:center;
        margin-top:20px;
        margin-bottom:20px;
        margin-left:80px;
    }

    .orga-h1{
        font-size:20px;
    }
}
